@page "/counter"
@rendermode InteractiveServer
@inject HttpClient httpClient;
@attribute [StreamRendering]

<PageTitle>Ping</PageTitle>

<h1>Ping</h1>

<p role="status">Result: @Result</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private string Result = "Waiting for result.";

    private async void IncrementCount()
    {
        var res = await httpClient.GetStringAsync("https://localhost:7294/TestConnection/Ping");
        if(res != null)
        {
            Result = res;
        }
    }
}
