@page "/"
@inject IApiClient ApiClient
@inject IRandomString randomString
@using System.Security.Cryptography
@using System.Text
@using privatext.Client.HttpClient
@using privatext.Services

<PageTitle>Privatext</PageTitle>

<RadzenRow class="rz-text-align-center" Gap="1rem">
    <RadzenColumn Size="3"/>
    <RadzenColumn Size="6">
        <RadzenStack JustifyContent="JustifyContent.Center" Orientation="Orientation.Vertical" Gap="10px">
            <RadzenStack JustifyContent="JustifyContent.Left" Orientation="Orientation.Horizontal">
                <h4>New text</h4>
            </RadzenStack>
            <RadzenTextArea @bind-Value="@MessageContent" Placeholder="Enter your text here..." MaxLength="4000" Rows="15" Cols="100"></RadzenTextArea>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Click="@ButtonClicked" Text="Create" />
                <RadzenButton Click="@ButtonClicked" Text="Options" />
            </RadzenStack>
        </RadzenStack>
    </RadzenColumn>
    <RadzenColumn Size="3" />
</RadzenRow>

@code {

    private string MessageContent { get; set; }

    private async Task ButtonClicked()
    {
        var id = randomString.CreateRandomString(32);
        var result = await ApiClient.CreateMessageEndpointAsync(new CreateMessageRequest{
            MessageDTO = new MessageDTO{
                MessageId = id,
                Content = MessageContent,
            },
        });
    }
}
