@inherits LayoutComponentBase
<MudThemeProvider IsDarkMode="true" Theme="_theme" DefaultScrollbar="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3">Privatext</MudText>
        <MudSpacer />
        <MudLink Href="https://vhdevblog.com/posts">Blog</MudLink>
    </MudAppBar>
    <MudMainContent Class="mt-16 pa-4">
        <MudContainer MaxWidth="MaxWidth.Medium">
            <div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
                @Body
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>

<style>
    .header{
        color: white;
        padding: 10px;
        text-align: left;
        font-size: 24px;
    }
</style>

@code{
    private MudTheme _theme = new()
    {
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Blue.Lighten1,
            Background = "#0d1117",
        },
    };
}