@inherits LayoutComponentBase
<RadzenComponents />

<RadzenLayout style="position: relative">
    <RadzenHeader class="header">
        Privatext
    </RadzenHeader>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        © 2025 Privatext.com
    </RadzenFooter>
</RadzenLayout>

<style>
    .header{
        color: white;
        padding: 10px;
        text-align: left;
        font-size: 24px;
    }
</style>