@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
            <h5 style="margin: 15px">Privatext</h5>
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody>
        <div>
            @Body
        </div>
        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </RadzenBody>
</RadzenLayout>